@font-face
{
	font-family: Raleway;
    src: url(RalewayThin.otf);
    src: url(RalewayThin.ttf);
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body
{
	
	padding: 0;
	margin: 0;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.title
{
	display: flex;
	color: white;
	font-family: Raleway;
	letter-spacing: 4px;
	justify-content: center;
	height: 125px;
	font-size: 32px;

}

.label
{
	display: flex;
	color: white;
	font-family: arial;
	justify-content: center;

}

.label2
{
	display: flex;
	color: white;
	font-family: arial;
	justify-content: center;
}

.inscription
{
	display: flex;
	justify-content: space-around;
}

ul
{
	height: 200px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

li
{
	list-style-type: none;
}

a
{
	text-decoration: none;
	color: #DCDCDC;
	font-size: 17px;
	font-family: arial;
	font-family: Raleway;
	font-weight: bold;

}

div ul li img
{
	width: 10px;
}

a:hover
{
	color: white;
}

/*Forum.html*/

.titlesection
{
	display: flex;
	color: white;
	font-family: Raleway;
	letter-spacing: 4px;
	justify-content: center;
	align-items: flex-start;
	height: 120px;
	font-size: 17px;
	margin-top: -35px;
}

.labelforum
{
	display: flex;
	color: white;
	font-family: arial;
	justify-content: center;
}

legend
{
	font-family: Raleway;
	font-size: 20px;
	letter-spacing: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

fieldset
{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom:25px;
	font-family: Raleway;
}

#fieldsetspace
{
	margin-top: 20px;
}

.titleinscription
{
	display: flex;
	color: white;
	font-family: Raleway;
	letter-spacing: 4px;
	justify-content: center;
	align-items: flex-start;
	height: 75px;
	font-size: 17px;
	margin-top: -40px;
}

.formulaires
{
	display: flex;
	color: white;
	font-family: arial;
	justify-content: center;
	margin-top: 60px;
	align-items: flex-start;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Raleway;
    letter-spacing: 1.05px;
    border-radius: 3px;
    border: solid #4CAF50 1px;
    margin-top: 5px;
}

.button:hover
{
	transition-property: background-color; 
    transition-duration: 0.7s;
    color: #4CAF50;
	background: white;
}

.socialmedia
{
	display: flex;
	justify-content: center;
	margin-top: 20%;
}

.fa-facebook 
{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-twitter 
{
	padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-youtube
{
	    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
